body {
    background: linear-gradient(to bottom, #90c5d3, #81e481); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    overflow: hidden;
    width: 30rem; 
    padding: 1.5rem;
    background: white;
    border-radius: 20px; 
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: #8d8d8d;
    color: #fff;
    text-align: left;
    padding: 20px;
    width: 92%;
    font-size: 2em;
    border-radius: 0;
    margin-bottom: 15px;
    min-height:40px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
button {
    width: 100%; 
    height: 70px;
    border: 2px solid transparent;
    padding: 19px;
    font-size: 1.5em;
    cursor: pointer;
    background: #ffffff;
    box-sizing: border-box; 
}
button:hover {
    background-color: #000000;
    color:#fff;
    border-radius: 50%; 
}
button:active {
    outline: 2px solid #000000; 
    outline:none;
}
.btn-equal {
    grid-column: 4;
    grid-row: 4 / span 4;
    height:90%;
    color: #000000;
}
.btn-zero {
    grid-column: 1 / span 2;
    color: #000000;
}
